<?xml version="1.0" ?>
<robot name="wooden_block_5_0">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
      <mass value="0.055"/>
      <inertia ixx="2.29166667e-05" ixy="0" ixz="0" iyy="2.29166667e-05" iyz="0" izz="2.29166667e-05"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision name="box">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/box.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
