<?xml version="1.0" ?>
<robot name="tube_target_fixture">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.0575" rpy="0 0 0"/>
      <mass value="0.519824335"/>
      <inertia ixx="0.00558053083" ixy="0" ixz="0" iyy="0.000885867304" iyz="0" izz="0.00532061866"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision name="plank">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/plank.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision name="large_peg">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/large_peg.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <collision name="small_peg">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/small_peg.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
