<?xml version="1.0" ?>
<robot name="marble">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.008" rpy="0 0 0"/>
      <mass value="0.0054"/>
      <inertia ixx="2.304e-07" ixy="0" ixz="0" iyy="2.304e-07" iyz="0" izz="2.304e-07"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision name="sphere">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/sphere.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
